.review-view-body {
    min-width: 500px;
    max-width: 550px;
    font-family: 'Exo';
}

.review-data {
    border: 2px solid grey;
    border-radius: 5px;
    padding: 11px;
    margin-top: 10px;
    margin-bottom: 28px;
}